stages:
  - build
  - publish
  - deploy

variables:
  IMAGE: "$CI_REGISTRY_IMAGE:latest"
  DOCKER_CONFIG: /kaniko/.docker/
  KANIKO_IMAGE: gcr.io/kaniko-project/executor:debug

# ---------- BUILD ----------
dev-build:
  stage: build
  image:
    name: $KANIKO_IMAGE
    entrypoint: [""]
  script:
    - mkdir -p $DOCKER_CONFIG
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$DEV_DOCKER_USERNAME\",\"password\":\"$DEV_DOCKER_PASSWORD\"}}}" \
      > $DOCKER_CONFIG/config.json

    - |
      /kaniko/executor \
        --context $CI_PROJECT_DIR \
        --dockerfile $CI_PROJECT_DIR/Dockerfile \
        --destination "$CI_REGISTRY_IMAGE:latest" \
        --cache=true \
        --cache-repo="$CI_REGISTRY_IMAGE/cache" \
        --verbosity=info

  rules:
    - if: $CI_COMMIT_BRANCH == "master"

# ---------- PUBLISH ----------
dev-publish:
  stage: publish
  image:
    name: $KANIKO_IMAGE
    entrypoint: [""]
  script:
    - mkdir -p $DOCKER_CONFIG
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$DEV_DOCKER_USERNAME\",\"password\":\"$DEV_DOCKER_PASSWORD\"}}}" \
      > $DOCKER_CONFIG/config.json

    - |
      /kaniko/executor \
        --context $CI_PROJECT_DIR \
        --dockerfile $CI_PROJECT_DIR/Dockerfile \
        --destination "$CI_REGISTRY_IMAGE:latest" \
        --destination "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" \
        --cache=true \
        --cache-repo="$CI_REGISTRY_IMAGE/cache" \
        --verbosity=info

  rules:
    - if: $CI_COMMIT_BRANCH == "master"

# ---------- DEPLOY ----------
dev-deploy:
  stage: deploy
  trigger:
    project: team-15/infra-deploy
    branch: master
    strategy: depend

  rules:
    - if: $CI_COMMIT_BRANCH == "master"

