stages:
  - build
  - publish
  - deploy

variables:
  IMAGE: "$CI_REGISTRY_IMAGE:latest"
  DOCKER_CONFIG: /kaniko/.docker/
  KANIKO_IMAGE: gcr.io/kaniko-project/executor:debug

# ---------- BUILD ----------
dev-build:
  stage: build
  image:
    name: $KANIKO_IMAGE
    entrypoint: [""]
  script:
    - mkdir -p $DOCKER_CONFIG
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$DEV_DOCKER_USERNAME\",\"password\":\"$DEV_DOCKER_PASSWORD\"}}}" \
      > $DOCKER_CONFIG/config.json

    - |
      /kaniko/executor \
        --context $CI_PROJECT_DIR \
        --dockerfile $CI_PROJECT_DIR/Dockerfile \
        --destination "$CI_REGISTRY_IMAGE:latest" \
        --cache=true \
        --cache-repo="$CI_REGISTRY_IMAGE/cache" \
        --verbosity=info

  rules:
    - if: $CI_COMMIT_BRANCH == "master"

# ---------- PUBLISH ----------
dev-publish:
  stage: publish
  image:
    name: $KANIKO_IMAGE
    entrypoint: [""]
  script:
    - mkdir -p $DOCKER_CONFIG
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$DEV_DOCKER_USERNAME\",\"password\":\"$DEV_DOCKER_PASSWORD\"}}}" \
      > $DOCKER_CONFIG/config.json

    - |
      /kaniko/executor \
        --context $CI_PROJECT_DIR \
        --dockerfile $CI_PROJECT_DIR/Dockerfile \
        --destination "$CI_REGISTRY_IMAGE:latest" \
        --destination "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" \
        --cache=true \
        --cache-repo="$CI_REGISTRY_IMAGE/cache" \
        --verbosity=info

  rules:
    - if: $CI_COMMIT_BRANCH == "master"

# ---------- DEPLOY ----------
dev-deploy-frontend:
  stage: deploy

  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh
    - echo "$PRIVATE_KEY_BASE64" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts

  script:
    - |
      ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "
        echo '$DEV_DOCKER_PASSWORD' | docker login '$CI_REGISTRY' -u '$DEV_DOCKER_USERNAME' --password-stdin;

        echo 'Pulling frontend image...'
        docker pull $FRONTEND_IMAGE;

        echo 'Stopping old container...'
        docker stop frontend || true;
        docker rm frontend || true;

        echo 'Running new frontend container...'
        docker run -d \
            --name frontend \
            -p 3000:3000 \
            $FRONTEND_IMAGE;

        echo 'Frontend redeployed successfully.'
      "

  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'


