stages:
  - build
  - publish
  - deploy

variables:
  IMAGE: "$CI_REGISTRY_IMAGE:latest"
  DOCKER_CONFIG: /kaniko/.docker/
  KANIKO_IMAGE: gcr.io/kaniko-project/executor:debug

# ---------- BUILD ----------
dev-build:
  stage: build
  image:
    name: $KANIKO_IMAGE
    entrypoint: [""]
  script:
    - mkdir -p $DOCKER_CONFIG
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$DEV_DOCKER_USERNAME\",\"password\":\"$DEV_DOCKER_PASSWORD\"}}}" \
      > $DOCKER_CONFIG/config.json

    - |
      /kaniko/executor \
        --context $CI_PROJECT_DIR \
        --dockerfile $CI_PROJECT_DIR/Dockerfile \
        --destination "$CI_REGISTRY_IMAGE:latest" \
        --cache=true \
        --cache-repo="$CI_REGISTRY_IMAGE/cache" \
        --verbosity=info

  rules:
    - if: $CI_COMMIT_BRANCH == "master"

# ---------- PUBLISH ----------
dev-publish:
  stage: publish
  image:
    name: $KANIKO_IMAGE
    entrypoint: [""]
  script:
    - mkdir -p $DOCKER_CONFIG
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$DEV_DOCKER_USERNAME\",\"password\":\"$DEV_DOCKER_PASSWORD\"}}}" \
      > $DOCKER_CONFIG/config.json

    - |
      /kaniko/executor \
        --context $CI_PROJECT_DIR \
        --dockerfile $CI_PROJECT_DIR/Dockerfile \
        --destination "$CI_REGISTRY_IMAGE:latest" \
        --destination "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA" \
        --cache=true \
        --cache-repo="$CI_REGISTRY_IMAGE/cache" \
        --verbosity=info

  rules:
    - if: $CI_COMMIT_BRANCH == "master"

dev-deploy-frontend:
  stage: deploy

  before_script:
    - apk add --no-cache openssh
    - mkdir -p ~/.ssh

    # используем твою переменную ENV_PRIVATE_KEY_BASE64
    - echo "$ENV_PRIVATE_KEY_BASE64" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa

    # вывод пустых переменных для диагностики
    - echo "SSH_HOST='$ENV_SSH_HOST'"
    - echo "SSH_USER='$ENV_SSH_USER'"
    
    # ключевая строка – правильное имя переменной
    - ssh-keyscan -p 22 "$ENV_SSH_HOST" >> ~/.ssh/known_hosts

  script:
    - |
      ssh -o StrictHostKeyChecking=no "$ENV_SSH_USER@$ENV_SSH_HOST" "
        echo '$DEV_DOCKER_PASSWORD' | docker login '$CI_REGISTRY' -u '$DEV_DOCKER_USERNAME' --password-stdin;

        docker pull $FRONTEND_IMAGE;

        docker stop frontend || true;
        docker rm frontend || true;

        docker run -d \
          --name frontend \
          -p 3000:3000 \
          $FRONTEND_IMAGE;
      "

  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'



